@mixin actionButton {
  background: #eaeff5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #2a579a;
  text-transform: none;
  margin: 0px 5px;
  min-height: 38px !important;
  max-height: 38px !important;
}
@mixin actionIconButton {
  background: #eaeff5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #2a579a;
  text-transform: none;
  margin: 0px 5px;
  min-width: 50px !important;
  min-height: 38px !important;
  max-width: 50px !important;
  max-height: 38px !important;
}
.cancel {
  @include actionButton();
}
.submit {
  @include actionButton();
}
.cancelIcon {
  @include actionIconButton();
}
.submitIcon {
  @include actionIconButton();
}
